table, td {
    border: solid 1px #e6e5e5;
    font-size: small;
}

td {
    height: 40px;
    width: 40px;
}
.block_to_escape {
    background-color: red;
}
.block {
    background-color: burlywood;
}
.free {
    background-color: beige;
}